!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>My Page</h1>
<a href="/">Home</a>
<a href="/logout">Logout</a>
<a href="/handler/form">전자 인계서 작성하기</a>
<a href ="/handler/ledger">Ledger</a>
<h3>My Compassets</h3>
    < %if(mycompassets.length != 0) {%>
    <table>
        <tr>
            <th>Asset ID</th>
            <th>Gen Weight</th>
            <th>Handle Weight</th>
            <th>Save Weight</th>
        </tr>
        <% for(var i=0; i<(mycompassets).length; i++){%>
        <tr>
            <td><%=mycompassets[i].asset_id%></td>
            <td><%=mycompassets[i].gen_weight%></td>
            <td><%=mycompassets[i].handle_weight%></td>
            <td><%=mycompassets[i].save_weight%></td>
        </tr>
        <%}%>
    </table>  
    <%} else{%>
        No Compassets
    <%}%> 
</body>
</html>    