<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Page</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>My Page</h1>
<a href="/">Home</a>
<a href="/logout">Logout</a>
<a href ="/admin/ledgers">Ledgers</a>
<h3>My Info</h3>
Name : <%=myinfo[0].user_name%> <br>
ID : <%=myinfo[0].user_id%> <br>
Job : <%=myinfo[0].user_type%> <br>
Phone : <%=myinfo[0].user_contact%> <br>
</body>
</html>