<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waste Recycling Tracker</title>
    <meta charset="UTF-8">
</head>

<body>
<h1>Waste Recycling Tracker</h1>
<a href="/">Home</a> <br>
<a href="/signup" >Sign Up</a> <br>
<a href="/login">Login</a> <br>
<a href="/logout" >Logout</a> <br>

</body>
</html>