<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
</head>

<body>
<form action="/login" method="post">
    <h3>Login</h3>
        <label>ID</label>
        <input type="text" name="user_id">
        <label>Password</label>
        <td><input type="password" name="user_pw"></td>
        <button  type="submit" value="로그인">Login</button>
</form>

</body>
</html>