<!DOCTYPE html>
<html lang="en">

<head>
    <title>회사등록</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/style/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/style/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/style/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
    <style>
        select {
            width: 234px;
            /* 원하는 너비설정 */
            padding: .4em .4em;
            /* 여백으로 높이 설정 */
            font-family: inherit;
            /* 폰트 상속 */
            background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
            /* 네이티브 화살표 대체 */
            border: 1px solid #999;
            border-radius: 0px;
            /* iOS 둥근모서리 제거 */
            -webkit-appearance: none;
            /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }
    </style>
    <body class="single-page contact-page">
        <header class="site-header">
            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            <div class="site-branding d-flex align-items-center">
                                <a class="d-block" href="/" rel="home"><img class="d-block" src="/style/images/logo.png"
                                        alt="logo"></a>
                            </div><!-- .site-branding -->

                            <nav class="site-navigation d-flex justify-content-end align-items-center">
                                <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a href="/">Home</a></li>
                                    <li class="current-menu-item"><a href="/signup">회원가입</a></li>
                                    <li><a href="/login">로그인</a></li>
                                    <li><a href="/logout">로그아웃</a></li>
                                </ul>
                            </nav><!-- .site-navigation -->

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>회사 등록</h1>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header -->

        <div class="contact-page-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="entry-content">
                            <h2>회사 등록에 관한 안내</h2>

                            <p>회사 등록을 요청하시면 환경부의 심사 후 등록하신 메일로 알려 드립니다. <br><br> </p>
                                
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <br> <br>
                        <label>이름*</label> <br>
                        <input type="text" id="name"> <br>
                        <label>주소*</label> <br>
                        <td><input type="text" id="addr"></td> <br>
                        <label>전화 번호</label> <br>
                        <td><input type="text" id="contact"></td> <br>
                        <label>회사 종류*</label> <br>
                        <select id="company_type">
                            <option value="">회사 종류 선택</option>
                            <option value="emitter">배출자</option>
                            <option value="conveyancer">운송자</option>
                            <option value="handler">처리자</option>
                            <option value="recycler">재활용자</option>
                            <option value="admin">환경부</option>
                        </select> <br> <br>
                        <label>폐기물 종류*</label> <br>
                        <td><input type="text" id="waste_type"></td> <br>
                        <label>처리 방법</label> <br>
                        <td><input type="text" id="handle_method"></td> <br>
                        <label>폐기물 코드(배출자, 재활용자일 경우 필수 입력)</label> <br>
                        <td><input type="text" id="waste_code"></td> <br>
                        <label>심사 결과 통보 받을 메일*</label> <br>
                        <td><input type="text" id="email_addr"></td> <br>
                        <br> <br>
                        <input type="submit" class="btn gradient-bg" value="회사 등록" onclick="sign_up()">
                        </div>
                    </div>  
                </div><!-- .container -->
            </div>

            <footer class="site-footer">
                    <div class="footer-widgets">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="foot-about">
                                        <h2><a class="foot-logo" href="#"><img src="/style/images/foot-logo.png" alt=""></a></h2>
                
                                        <p>2019 에코톤 제품및 서비스 부문 출품작 <br>
                                            블록체인을 활용한 폐기물 처리 관리시스템<br>
                                            팀원 : 윤혜원, 최재은 <br>
                                        </p>
                                    </div>
                                </div>
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <h2>유관 기관 사이트</h2>
                
                                    <ul>
                                        <li><a href="http://www.me.go.kr/home/web/main.do">환경부</a></li>
                                        <li><a href="http://www.keco.or.kr/kr/main/index.do">환국환경공단</a></li>
                                        <li><a href="http://www.molit.go.kr/portal.do">국토교통부</a></li>
                                        <li><a href="http://www.krihs.re.kr/">국토연구원</a></li>
                                        <li><a href="https://www.koras.org/index.jsp">한국건설자원협회</a></li>
                                        <li><a href="http://www.cwa.or.kr/">한국건설폐기물수집운반협회</a></li>
                                        <li><a href="https://www.kict.re.kr/">한국건설기술연구원</a></li>
                                    </ul>
                                </div><!-- .col -->
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <div class="foot-latest-news">
                                        <a href="https://www.allbaro.or.kr/09_wsr/wsr_service.vm"><h2>서비스 이용약관</h2></a>
                                        <br> <br>
                                        <a href="http://www.keco.or.kr/kr/util/privacy1_1.do"><h2>개인정보처리방침</h2></a>
                                    </div><!-- .foot-latest-news -->
                                </div><!-- .col -->
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <div class="foot-contact">
                                        <h2>연락처 안내</h2>
                
                                        <ul>
                                            <li>운영 시간 : 9:00 ~ 18:00  <br>
                                                단, 12:00 ~ 13:00 및 공휴일, 토요일은 <br>
                                                운영되지 않습니다</li>
                                            <li><i class="fa fa-phone"></i><span>1644-0007</span></li>
                                            <li><i class="fa fa-envelope"></i><span> 0505-822-7805</span></li>
                                            <li><i class="fa fa-map-marker"></i><span>(22689) 인천시 서구 환경로 42(경서동 종합환경연구단지) </span></li>
                                        </ul>
                                    </div><!-- .foot-contact -->
                
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .footer-widgets -->
                
                    <div class="footer-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div><!-- .col-12 -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .footer-bar -->
                </footer><!-- .site-footer -->

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function sign_up() {
        $.ajax({
            url: "/register_company",
            method: "POST",
            data: {
                company_name: document.getElementById("name").value,
                company_addr: document.getElementById("addr").value,
                company_contact: document.getElementById("contact").value,
                company_type: document.getElementById("company_type").value,
                waste_type: document.getElementById("waste_type").value,
                handle_method: document.getElementById("handle_method").value,
                waste_code: document.getElementById("waste_code").value,
                email_addr: document.getElementById("email_addr").value
            },
            success: function (data) {
                if (data.success == true) {
                    if(!alert("회사 등록 요청을 완료 했습니다. 등록이 완료 되면 알려 드립니다.")){
                        window.location.href = data.redirect_url;
                    }
                }
            }
        });
    }

</script>
<script type='text/javascript' src='/style/js/jquery.js'></script>
<script type='text/javascript' src='/style/js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='/style/js/swiper.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/style/js/circle-progress.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.barfiller.js'></script>
<script type='text/javascript' src='/style/js/custom.js'></script>

</body>
</html>