<!DOCTYPE html>
<html lang="en">

<head>
    <title>회원가입</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="/style/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="/style/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="/style/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/style/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/style/style.css">
    
    <link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

</head>





<body>
    <style>
        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index : 100;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 60%;
            text-align: justify;
            /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        select {
            width: 234px;
            /* 원하는 너비설정 */
            padding: .4em .4em;
            /* 여백으로 높이 설정 */
            font-family: inherit;
            /* 폰트 상속 */
            background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
            /* 네이티브 화살표 대체 */
            border: 1px solid #999;
            border-radius: 0px;
            /* iOS 둥근모서리 제거 */
            -webkit-appearance: none;
            /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }
    </style>

    <body class="single-page contact-page">
        <header class="site-header">
            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            <div class="site-branding d-flex align-items-center">
                                <a class="d-block" href="/" rel="home"><img class="d-block" src="/style/images/logo.png"
                                        alt="logo"></a>
                            </div><!-- .site-branding -->

                            <nav class="site-navigation d-flex justify-content-end align-items-center">
                                <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li><a href="/">Home</a></li>
                                    <%if (user_id == -1 ){ %>
                                        <li class="current-menu-item"><a href="/signup">회원가입</a></li>
                                        <li><a href="/login">로그인</a></li>
                                        <%} else {%>
                                        <li><a href="/<%=user_type%>">마이페이지</a></li>
                                        <%if(user_type != 'admin'){%>
                                        <li><a href="/compasset">대장 관리</a></li>
                                        <%}else{%>
                                        <li><a href="/admin/register_company_list">회사 등록 요청</a></li>
                                        <%}%>
                                        <li><a href="/logout">로그아웃</a></li>
                                        <% }%>
                                </ul>
                            </nav><!-- .site-navigation -->

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->
        </header><!-- .site-header -->

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>회원가입</h1>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header -->

        <div class="contact-page-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                                    <div class="entry-content">
                                          <h2>개인정보 관한 안내</h2>
                                          <p>입력하신 소중한 개인정보는 고객님의 명백한 <br> 동의 없이 공개 또는 제3자에게 제공되지 않습니다. <br><br> </p>
                                      </div>
                                  </div>
                    
                    <div class="col-12 col-lg-7">
                        <br> <br>
                        <label>ID</label> <br>
                        <input type="text" id="id"> <br>
                        <label>Password</label> <br>
                        <td><input type="password" id="pw"></td> <br>
                        <label>이름</label> <br>
                        <td><input type="text" id="name"></td> <br>
                        <label>User Type</label> <br>
                        <select id="user_type">
                            <option value="">직업 선택</option>
                            <option value="emitter">배출자</option>
                            <option value="conveyancer">운반자</option>
                            <option value="handler">처리자</option>
                            <option value="recycler">재활용자</option>
                            <option value="admin">환경부</option>
                        </select> <br> <br>
                        <label>Company ID</label>
                        <%if(company_id==-1){%>
                        <!--search button pop up 해서 company 이름으로 id 조회하기-->
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn" onclick="company_search()">조회하기</button> <br>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content">
                                <div>
                                <span class="close">&times;</span>
                                    기업 이름:
                                    <input type="text" name="company_name">
                                    <button type="submit" onclick="get_search_result()">조회</button>
                                </div>
                                <div class = "search_result"></div>
                                <a href = '/register_company'>찾으시는 기업이 없으신가요?</a>
                            </div>
                        </div>

                        <td><input type="number" id="companies_id"></td> <br>
                        <%}else{%>
                        <br>
                        <td><input type="number" id="companies_id" value="<%=company_id%>"></td> <br>
                        <%}%>
                        <label>전화 번호</label> <br>
                        <td><input type="text" id="phone"></td> <br>

                        <label>차량 번호(운반자일 경우 필수 입력)</label> <br>
                        <td><input type="number" id="carnum"></td> 
                        <br> <br>
                        <input type="submit" class="btn gradient-bg" value="회원가입" onclick="sign_up()">
                        </div>
                    </div>  
                </div><!-- .container -->
            </div>

            <footer class="site-footer">
                    <div class="footer-widgets">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-3">
                                    <div class="foot-about">
                                        <h2><a class="foot-logo" href="#"><img src="/style/images/foot-logo.png" alt=""></a></h2>
                
                                        <p>2019 에코톤 제품및 서비스 부문 출품작 <br>
                                            블록체인을 활용한 폐기물 처리 관리시스템<br>
                                            팀원 : 윤혜원, 최재은 <br>
                                        </p>
                                    </div>
                                </div>
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <h2>유관 기관 사이트</h2>
                
                                    <ul>
                                        <li><a href="http://www.me.go.kr/home/web/main.do">환경부</a></li>
                                        <li><a href="http://www.keco.or.kr/kr/main/index.do">환국환경공단</a></li>
                                        <li><a href="http://www.molit.go.kr/portal.do">국토교통부</a></li>
                                        <li><a href="http://www.krihs.re.kr/">국토연구원</a></li>
                                        <li><a href="https://www.koras.org/index.jsp">한국건설자원협회</a></li>
                                        <li><a href="http://www.cwa.or.kr/">한국건설폐기물수집운반협회</a></li>
                                        <li><a href="https://www.kict.re.kr/">한국건설기술연구원</a></li>
                                    </ul>
                                </div><!-- .col -->
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <div class="foot-latest-news">
                                        <a href="https://www.allbaro.or.kr/09_wsr/wsr_service.vm"><h2>서비스 이용약관</h2></a>
                                        <br> <br>
                                        <a href="http://www.keco.or.kr/kr/util/privacy1_1.do"><h2>개인정보처리방침</h2></a>
                                    </div><!-- .foot-latest-news -->
                                </div><!-- .col -->
                
                                <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                    <div class="foot-contact">
                                        <h2>연락처 안내</h2>
                
                                        <ul>
                                            <li>운영 시간 : 9:00 ~ 18:00  <br>
                                                단, 12:00 ~ 13:00 및 공휴일, 토요일은 <br>
                                                운영되지 않습니다</li>
                                            <li><i class="fa fa-phone"></i><span>1644-0007</span></li>
                                            <li><i class="fa fa-envelope"></i><span> 0505-822-7805</span></li>
                                            <li><i class="fa fa-map-marker"></i><span>(22689) 인천시 서구 환경로 42(경서동 종합환경연구단지) </span></li>
                                        </ul>
                                    </div><!-- .foot-contact -->
                
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .footer-widgets -->
                
                    <div class="footer-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div><!-- .col-12 -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .footer-bar -->
                </footer><!-- .site-footer -->

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type='text/javascript' src='/style/js/jquery.js'></script>
<script type='text/javascript' src='/style/js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='/style/js/swiper.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/style/js/circle-progress.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.countTo.min.js'></script>
<script type='text/javascript' src='/style/js/jquery.barfiller.js'></script>
<script type='text/javascript' src='/style/js/custom.js'></script>

<script>
    // Get the modal
    function company_search() {
        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    function get_search_result() {
        $('.search_result').html('')
        $.ajax({
            url: "/search",
            method: "POST",
            data: {
                company_name: document.getElementsByName("company_name")[0].value,
            },
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    var result = data.results;
                    var html = '<br><table id="comp_list" border="1px"><thead><tr> <th> 기업ID </th><th> 기업 이름 </th><th>주소</th><th>연락처</th><th>기업 종류</th><th>재료 종류</th><th>선택하기</th></tr></thead><tbody>'
                    for (var i = 0; i < result.length; i++) {
                        html += '<tr><td>' + result[i].company_id + '</td>'
                            + '<td>' + result[i].company_name + '</td>'
                            + '<td>' + result[i].company_addr + '</td>'
                            + '<td>' + result[i].company_contact + '</td>'
                            + '<td>' + result[i].company_type + '</td>'
                            + '<td>' + result[i].company_material_type + '</td>'
                            + '<td><button id = "bnum"'+i+'" onclick = "search_result('+result[i].company_id+')">선택</button></td></tr>'
                    }
                    html+='</tbody></table>'
                    var comp_list = $('.search_result')
                    comp_list.append(html)
                    $('#comp_list').DataTable({ 
                        destroy : true,
                        searching: false,
                        info: false
                    });
                }
            }
        });
    }

    function search_result(comp_id) {
        var modal = document.getElementById('myModal');
        $('#companies_id').val(comp_id);
        modal.style.display = "none";
    }

    function sign_up() {
        var user_id =  document.getElementById("id").value
        var user_pw = document.getElementById("pw").value
        var user_type = document.getElementById("user_type").value
        var user_name = document.getElementById("name").value
        var user_contact = document.getElementById("phone").value
        var companies_id = document.getElementById("companies_id").value
        var car_number = document.getElementById("carnum").value
        var notification = []

        if(user_id == '') notification.push("아이디")
        if(user_pw == '') notification.push("비밀 번호")
        if(user_name == '') notification.push("이름")
        if(user_type == '') notification.push("직업")
        if(companies_id == '') notification.push("회사 id")
        if(user_contact == '') notification.push("전화 번호")
        if(user_type == "conveyancer" && car_number == '') notification.push("차량 번호")

        if(notification.length == 0){
            $.ajax({
                url: "/signup",
                method: "POST",
                data: {
                    user_id: user_id,
                    user_pw: user_pw,
                    user_type: user_type,
                    user_name: user_name,
                    user_contact: user_contact,
                    companies_id: companies_id,
                    car_number: car_number
                },
                success: function (data) {
                    if (data.success == true) {
                        if(!alert("회원 가입이 완료 되었습니다")){
                            window.location.href = data.redirect_url;
                        }
                    }
                }
            });
        }
        else{
            var content = (notification).join(", ")
            content += "를 입력 하지 않았습니다. 입력 후 회원 가입을 진행 해 주세요."
            alert(content)
        }
    }

</script>


</body>
</html>