<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <meta charset="UTF-8">
</head>

<body>
<form action="/signup" method="post" >
    <h3>Login</h3>
    <label>ID</label>
    <input type="text" name="id">
    <label>Password</label>
    <td><input type="password" name="pw"></td>
    <label>User Type</label>
    <!--dropdown으로 user type들 중에 choose하기 -->
    <td><input type="text" name="user_type"></td>
    <label>Companies ID</label>
    <!--search button pop up 해서 company 이름으로 id 조회하기-->
    <td><input type="number" name="companies_id"></td>
    <label>Phone</label>
    <td><input type="number" name="phone"></td>
    <button  type="submit" value="회원가입">Sign Up</button>
</form>

</body>
</html>